pre {
	display:block;
	background-color:#EEE;
	border-color:#DDD;
	box-shadow:2px 2px 2px #888;
	padding: 1em;
}
table {
	background-color:#EEE;
	border-color:#DDD;
	box-shadow:2px 2px 2px #888;
	margin:.5em 2em;
	width: 90%;	
}
th {
	border-bottom: 1px solid #CCC;
}
td { 
	border-bottom: 1px solid #DDD; 
}
.em { 
	font-style: italic;
	font-size: 80%;
	
}